@model UpdateDeviceModelViewModel
@{
    List<ManufacturerViewModel> ManufacturersList = ViewBag.Manufacturers;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <form asp-controller="DeviceModels" asp-action="Edit" method="post">
                 <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input type="text" class="form-control" asp-for="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                   <div class="form-group">
                        <label>Select manufacturer</label>
                        <select asp-for="ManufacturerId" class="form-control" >
                         <option>Select Manufacuter</option>
                            @foreach(var manufacturer in ManufacturersList)
                            {
                                <option value="@manufacturer.Id">@manufacturer.Name</option>
                            }
                        </select>
                      </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary  float-right  ml-1">Submit</button>
                    <a class="btn btn-danger  float-right" asp-controller="Manufacturers" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>